.about {
.divider {
  padding-top: 20px;
  margin-bottom: 30px;
}
  &__info {
    margin-top: 60px;

    h3 {
      color: $red;
      letter-spacing: 3px;
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      letter-spacing: 1.9px;
      margin-bottom: 30px;
    }
    h4 {
      font-size: 17px;
    }
  }

  .service {
    margin-top: 20px;
  }
  .operation {
    margin-top: 25px;
    margin-bottom: 130px;
  }
  @include media-breakpoint-up (md) {
    .divider {
      padding-top: 30px;
      margin-bottom: 50px;
    }
  }
}
