.brand-list {
  @include media-breakpoint-up (md) {
    .brand-item:nth-child(even) {
      .brand-item__img {
        order: 13;
        > figure + figure {
          order: -1;
        }
      }
    }
  }
}
