.brand-item {
  //min-height: 270px;
  //max-height: 270px;
  margin-bottom: 2px;

  &__img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > figure {
      margin: 0;
      text-align: center;
      flex: 1 0 50%;

      &:first-child {
        img {
          width: 100%;
        }
      }
      img {
        margin: 0;
      }
    }
    > figure + figure {
      padding: 15px;
    }
  }

  &__text {
    background-color: $gray-300;

    p:last-child {
      font-size: 12px;
      margin-top: 25px;
      margin-bottom: 0;
    }
    > div {
      padding: 40px 28px 35px 35px;
      height: 100%;
    }
    h4 {
      margin-bottom: 5px;
    }
    p {
      letter-spacing: 1.6px;
    }
  }

  @include media-breakpoint-up (md) {
  }

}
