.brands {
  .divider {
    margin-top: 75px;
  }
  &__wrapper {
    padding-top: 35px;
    .pagination {
      justify-content: space-between;
      align-items: center;

      margin-bottom: 2px;
    }
  }


  .my-5 {
    font-size: 18px;
    padding-top: 18px;
    letter-spacing: 2px;

    p {
      margin-bottom: 28px;
    }
  }

  @include media-breakpoint-between(xs, sm) {
    .divider {
      margin-top: 30px;
    }
    &__wrapper {
      //display: flex;
      padding-top: 0;

      .brand-nav {
        margin-right: 10px;
      }
    }

  }
}
