.brand-nav {
  background-color: $primary;
  .page-link {
    color: white;
    background-color: $primary;
    font-weight: bold;
    text-align: center;
    margin-left: 0;
    border: none;
    //padding: 5px 5px 5px 5px;

    &.active {
      background-color: $white;
      color: $primary;
      border: 1px solid $primary;
      padding: 14px 20px;
    }
  }

  .dropdown {
    .dropdown-menu {
      padding: 0;
      min-width: 4rem;
      border: none;
    }
  }

  @include media-breakpoint-between(xs, sm) {
    .pagination {
      //flex-direction: column;
    }

    .page-link {
       margin-left: 0;

    }
    .all {
      padding-left: 3px;
      padding-right: 3px;
    }
  }
  @include media-breakpoint-up (sm) {
    .page-link {
      letter-spacing: 2.5px;
      font-size: 20px;
    }
  }
  @include media-breakpoint-up (lg) {
    .page-link {
      margin-left: -2px;
      font-size: 22px;
      padding: 0.93rem 0.75rem;

      &.active {
        border: 3px solid $primary;
      }
    }
  }
}
