.breadcrumb {
  background-color: transparent;
  font-size: 11px;
  padding: 40px 0 30px 0;

  a {
    color: $gray-500;
    letter-spacing: 1.2px;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: '>';
    padding-left: 5px;
    padding-right: 3px;
  }
  .breadcrumb-item.active {
    color: $gray-500;
    letter-spacing: 1.2px;
  }

}
