.contact {
  .cover {
    margin-bottom: 50px;
  }
  .operation {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__form {
    margin-top: 20px;
    margin-bottom: 50px;

    .custom-control.custom-checkbox {
      margin-top: 15px;
    }
    .btn {
      margin-top: 15px;
    }
  }
  .map-container {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  @include media-breakpoint-up (md) {
    .cover {
      margin-bottom: 80px;
    }
    .operation {
      margin-top: 65px;
      margin-bottom: 60px;
    }
    &__form {
      margin-top: 50px;
      margin-bottom: 85px;
    }
    .map-container {
      margin-top: 60px;
    }
  }
}
