.cover {
  background-image: url("../../images/img_cover_store-item.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  background-size: cover;

  &--store-item2 {
    background-image: url("../../images/img_cover_store-item2.png");
    .cover__caption {
      h2 {
        font-size: 34px;
      }
    }
  }
  &--store {
    background-image: url("../../images/img_fashion.png");
  }
  &--shop {
    background-image: url("../../images/img_cover_narrow.png");
    height: 109px;
  }

  >.container {
    height: 100%;
    position: relative;
  }
  &__caption {
    color: $white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    padding: 0 15px;

    h2 {
      font-weight: bold;
      border: 3px solid $white;
      display: block;
      margin: 0 auto;
      max-width: 875px;
      width: 100%;
      text-align: center;
      font-size: 40px;
      padding: 15px 0;
      text-shadow: rgb(8, 8, 8) 4px 4px 23px;
    }
    p {
      font-size: 22px;
      font-family: $font-family-bodoni;
      font-style: italic;
      text-shadow: rgb(8, 8, 8) 4px 4px 23px;
    }
  }
  @include media-breakpoint-up (md) {

    height: 808px;

    &__caption {
      transform: translateY(0);
      padding: 0;
      top: 34%;

      h2 {
        padding: 20px 0px;
        font-size: 60px;
      }
      p {
        font-size: 48px;
        margin-top: 13px;
      }
    }
    &--shop {
      background-image: url("../../images/img_cover_narrow.png");
      height: 109px;
    }
    &--store-item2 {
      .cover__caption {
        h2 {
          font-size: 60px;
        }
      }
    }
  }
}
