.divider {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;

  .divider__text {
    font-size: 22px;
    font-weight: bold;
    color: $primary;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;

    span {
      padding: 0 15px;

    }
    &:before, &:after {
      border-bottom: 2px solid $primary;
      content: " ";
      display: block;
      flex: 1 0 auto;
    }

  }
  p {
    font-size: 18px;
    font-style: italic;
    font-family: $font-family-bodoni;
  }


  &--sm {
    .divider__text{
      font-size: 19px;
      margin: 45px 0 10px 0;
    }
  }
  &--xs {
    .divider__text{
      font-size: 19px;
      margin: 45px 0 10px 0;
    }
  }

  @include media-breakpoint-up (md) {

    .divider__text {
      font-size: 40px;
      margin: 45px 0 0 0;

      span {
        padding: 0 25px;
      }
      &:before, &:after {
        border-bottom-width: 4px;
      }
    }
    p {
      font-size: 30px;
    }

    &--sm {
      .divider__text{
        font-size: 30px;
      }
    }

  }

  @include media-breakpoint-up (lg) {

    .divider__text {
      font-size: 46px;

    }
    p {
      font-size: 40px;
    }

    &--sm {
      .divider__text{
        font-size: 38px;
      }
    }
    &--xs {
      .divider__text{
        font-size: 30px;
      }
    }
  }
}
