.events {
  .divider {
    padding-top: 20px;
    margin-bottom: 30px;
  }

  .events-items {
    margin-bottom: 40px;
  }
  .card--events {
    margin-bottom: 50px;
  }

  @include media-breakpoint-up (md) {
    .events-items {
      margin-bottom: 85px;
    }
    .divider {
      margin-bottom: 75px;
      padding-top: 30px;
    }
  }

}
