@import "../variables";

.footer {
  background-color: #222222;
  color: $white;
  padding-top: 80px;
  padding-bottom: 45px;

  &__address {
    h4:first-child {
      margin-bottom: 25px;
    }
    >p {
      padding-bottom: 20px;
    }
  }

  h4 {
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 1.9px;
    margin-bottom: 15px;
  }

  p {
    letter-spacing: 1.6px;

  }

  &__mode {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    p:last-child {
      margin-left: 40px;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  ul {
    li:last-child {
      padding-top: 25px;
    }
  }

  a {
    color: $white;
    letter-spacing: 2px;
  }

  i {
    font-family: $font-family-bodoni;
    font-style: italic;
    font-size: 30px;
    margin-top: 5px;
    display: block;
    margin-bottom: 30px;
  }

  &__social {

    h3 {
      font-family: $font-family-bodoni;
      font-style: italic;
      font-size: 30px;
      margin-top: 35px;
      margin-bottom: 0;
    }

    ul {
      margin-top: 13px;
      margin-bottom: 37px;

      li {
        display: inline-block;
      }

      li:last-child {
        padding-top: 0;
      }
    }
    img {
      margin-right: 10px;
    }
  }

  @include media-breakpoint-up (sm) {
    &__mode p:last-child {
      margin-left: 35px;
    }
  }

  @include media-breakpoint-up (lg) {
    &__mode {
      justify-content: space-between;

      p:last-child {
        margin-left: 0;
      }
    }
    i {
      margin-bottom: 0;
    }
  }
}
