.home {
  .service {
    display: none;
  }
  .fashion {
    margin: 40px 0 30px 0;

    .fashion-img {
      position: relative;

      img {
        width: 100%;
      }

      h2 {
        position: absolute;
        bottom: 5px;
        left: 10px;
        color: $white;
        font-family: $font-family-bodoni;
        font-style: italic;
        font-size: 15px;
        font-weight: normal;
      }
    }
    &__text {
      p {
        font-size: 18px;
        margin-top: 20px;
        letter-spacing: 1.9px;
        margin-bottom: 30px;
      }
    }
  }
  .banner {
    margin: 55px 0;

    img {
      width: 100%;
    }

  }
  &__news {
    padding-bottom: 115px;

    .divider {
      padding-top: 20px;
      margin-bottom: 30px;
    }
  }
  &__brands {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include media-breakpoint-up (sm) {
    .service {
      display: block;
    }
  }
  @include media-breakpoint-up (md) {
    &__brands {
      padding-top: 55px;
    }
    &__news {
      padding-bottom: 115px;

      .divider {
        padding-top: 30px;
        margin-bottom: 70px;
      }
    }
    .fashion {
        margin: 75px 0 30px 0;

      .fashion-img {
        h2 {
          font-size: 50px;
          bottom: 20px;
          left: 55px;
        }
      }
    }

    .banner {
      margin: 150px 0;
    }
  }
}
