.news-item {
  //margin-bottom: 100px;
  .breadcrumb {
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  &__header {

    h3 {
      color: $red;
      font-weight: bold;
      margin-bottom: 0;
      letter-spacing: 3px;
      line-height: 31px;
    }
    span {
      font-size: 11px;
      letter-spacing: 1px;

      &:after {
        content: '';
        border-bottom: 4px solid $red;
        width: 245px;
        display: block;
        margin-top: 30px;
      }
    }
  }
  .social {
    margin-top: 30px;
  }
  .news-article {
    padding-bottom: 110px;
  }
  .slider-look {
    padding-bottom: 115px;
  }
&__more {
  padding-top: 40px;
}
  .newsletter {
    padding-top: 100px;
  }
}
