.newsletter {
  background-color: $gray-300;
  padding-top: 25px;
  padding-bottom: 90px;

  .divider {
    p {
      font-size: 18px;
    }
    i {
      color: $red;
    }

    .divider__text {
      font-size: 18px;

      span {
        background-color: $gray-300;
      }
    }
  }
  input.form-control {
    //padding-left: 38px;
    //background: url("../../images/icons/i_letter.png") left no-repeat #fff;
    //background-position-x: 5px;
    //background-size: 25px;
    letter-spacing: 2px;
  }

  &__done {
    display: none;
    p {
      max-width: 750px;
      margin: 0 auto;
    }

  }
  &__close {
    font-size: 15px;
    font-weight: bold;
  }

  @include media-breakpoint-up (md) {
    .divider {
      p {
        font-size: 30px;
      }

      .divider__text {
        font-size: 38px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    input.form-control {
      padding: 10px 38px 10px 100px;
      background: url("../../images/icons/i_letter.png") left no-repeat #fff;
      background-position-x: 18px;
      background-size: 48px;
      font-size: 23px;
    }
  }
}
