.news-article {
  padding-top: 25px;

  h4 {
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 43px;
    letter-spacing: 1.7px;
    line-height: 32px;
  }
  h5 {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1.6px;
  }
  p {
    font-size: 18px;
    letter-spacing: 1.8px;
  }
  > div:last-child > img {
    width: 100%;
    margin-top: 30px;
  }
  @include media-breakpoint-up (md) {
    > div:last-child > img {
      margin-top: 0;
    }
  }
}
