.news {
  main {
    background-color: $gray-300;

    .divider {
      padding-top: 20px;
      padding-bottom: 0;

      span {
        background-color: $gray-300;
      }
    }
  }
  @include media-breakpoint-up (md) {
    main {
      .divider {
        padding-top: 33px;
        padding-bottom: 20px;
      }
    }
  }
}
