.operation {
  background-color: $gray-300;
  padding: 50px 15px 25px 15px;

  strong {
    font-weight: bold;
    color: $red;
    display: block;
  }

  &__address {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    font-size: 15px;

    img {
      width: 37px;
      height: 55px;
    }

    address {
      margin-left: 15px;
      margin-bottom: 30px;

    }
    > div {
      a {
        color: $gray-900;
        font-weight: bold;
        display: block;
        margin-left: 15px;
        letter-spacing: 1.8px;
      }
    }
  }
  &__time {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 15px;

    img {
      width: 36px;
      height: 36px;
    }
    p {
      margin-left: 15px;
      font-weight: bold;
      width: 100px;

    }

    p:last-child {
      margin-left: 0;
      margin-top: 45px;
      font-weight: normal;
      line-height: 23px;
      font-size: 12px;
      width: auto;
    }
  }
  @include media-breakpoint-up (sm) {
    &__address {
      font-size: 18px;
      address {
        letter-spacing: 2px;
      }
    }
    &__time {
      font-size: 18px;
      p {
        width: 130px;
        letter-spacing: 2px;
      }
      p:last-child {
        font-size: 18px;
        line-height: 1.5;
        margin-top: 54px;
        margin-left: 0;
      }
    }
  }
  @include media-breakpoint-up (md) {
    &__address {
      margin-bottom: 0;
      font-size: 18px;
      > div a {
        a {
          margin-left: 20px;
        }
      }
      address {
        margin-left: 20px;
      }
      img {
        width: 49px;
        height: 67px;
      }

    }
    &__time {
      font-size: 18px;
      p {
        margin-left: 20px;
      }
      p:last-child {
        margin-left: 0;
        margin-top: 49px;
        font-size: 18px;
        line-height: 1.5;
      }
      img {
        width: 48px;
        height: 48px;
      }
    }
  }
  @include media-breakpoint-up (lg) {
    &__address {
      address {
        margin-left: 50px;
      }

      > div {
        a {
          margin-left: 50px;
        }
      }
    }
    &__time {
      p {
        margin-left: 50px;
      }
    }

  }
}
