.quote {

  h1 {
    font-family: $font-family-bodoni;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.4px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    align-items: center;

    img {
      margin-right: 20px;
      width: 117px;
    }

    span {
      color: $primary;
      font-size: 18px;
      display: block;
      letter-spacing: 1.5px;
    }
  }
  @include media-breakpoint-up (lg) {
    h1 {
      font-size: 47px;
    }
  }
  @include media-breakpoint-up (md) {
    &__info {
      flex-direction: row;

      img {
        margin-left: 195px;
      }
    }
  }
}
