.service {
  padding: 45px 0;

  &--white {
    background-color: $white;
  }

  img {
    height: 35px;
  }
  p {
    margin-top: 15px;
    letter-spacing: 1px;
  }

  @include media-breakpoint-up (sm) {
    img {
      height: 50px;
    }
  }
}
