.shop-item {
  border-bottom: 3px solid $gray-400;
  display: flex;
  padding: 25px 5px 25px 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h4 {
    font-weight: normal;
    font-size: 21px;
    letter-spacing: 1px;
  }
  span {
    font-style: italic;
    font-family: $font-family-bodoni;
    font-size: 30px;
  }
  &__img {
    //width: 145px;
    max-width: 145px;
    min-width: 145px;
  }
  &__info {
    padding: 20px 10px 10px 0;
  }
  p {
    text-align: left;
    font-size: 21px;
    margin-bottom: 0;
    margin-top: 5px;
  }

  @include media-breakpoint-up (md) {
    align-items: flex-start;
    text-align: left;
    flex-direction: row;

    &__info {
      padding: 0 10px 10px 40px;
      p {
        text-align: right;
      }
    }


  }
}
