.shop-detail {
  .divider {
    padding-top: 30px;
  }
  .breadcrumb {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .shop-items {
    margin-top: 60px;
  }

  main {
    h3 {
      color: $red;
      letter-spacing: 3px;
    }
  }

  &__wrapper {
    margin-top: 35px;
    margin-bottom: 15px;
    > div {
      > img {
        width: 100%;
      }
    }
  }
&__brands {
  margin-bottom: 20px;
}
  &__info {
    .shop-item:first-child {
        padding-top: 20px;
    }
    .shop-item:last-child {
      border-bottom: none;
      flex-direction: row;
      justify-content: center;

      .shop-item__img {
        min-width: 80px;
      }
    }
  }
  @include media-breakpoint-up (md) {
    &__info {
      .shop-item:first-child {
          padding-top: 0;
      }
      .shop-item:last-child {
        justify-content: flex-start;

        p {
          text-align: right;
        }
        .shop-item__img {
          min-width: 145px;
        }
      }
    }
  }
}
