.shop {
  main {
    padding-top: 30px;
    margin-bottom: 70px;
  }

  .shop-items {
    margin-top: 80px;
  }
  @include media-breakpoint-between(xs, sm) {
    main {
      padding-top: 10px;
      margin-bottom: 50px;
    }
    .shop-items {
      margin-top: 30px;
    }
  }
}
