.shop-items {

  &__list {

    img {
      width: 100%;
      max-width: 360px;
    }
    a {
      font-size: 22px;
      color: $gray-800;
      font-weight: bold;
      &:hover {
        color: $red;
      }
    }
    figcaption {
      margin-bottom: 70px;
      margin-top: 5px;
      letter-spacing: 2.5px;
    }
  }
  @include media-breakpoint-between(xs, sm) {
     &__list {
       figure {
         text-align: center;
       }
     }
  }
}
