.store-item {
  main {
    padding-top: 70px;

    h3 {
      color: $red;
      font-weight: bold;
      margin-bottom: 18px;
      font-size: 24px;
    }
    p {
      font-size: 18px;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }
    .quote {
      margin-top: 45px;
    }
  }
  &__img {
    img {
      width: 100%;
      margin-top: 50px;
    }
  }
  .newsletter {
    margin-top: 125px;
  }
  @include media-breakpoint-up (md) {
    main {
      h3 {
        font-size: 30px;
      }
    }
  }
}
