.store {

  main {
    padding-top: 67px;
    h4 {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      font-weight: normal;
      font-size: 21px;
      line-height: 150%;
      letter-spacing: 0.15rem;
    }
  }

  .store-items {
    margin-top: 65px;
  }
  .store__brands {
    padding-top: 60px;
  }
}
