.unsubscribe {
  .cover {
    margin-bottom: 75px;
  }
  .container {
    > p {
      font-size: 21px;
      display: block;
      max-width: 750px;
      margin: 52px auto;
      letter-spacing: 2.2px;
    }

  }
  &__form {
    padding-top: 25px;
    padding-bottom: 100px;
  }
}
