@import '../../variables';

@include media-breakpoint-between(xs, md) {
  .btn-lg {
    @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $line-height-base, $btn-border-radius);
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    letter-spacing: 0.1rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom-width: 4px;
    border-bottom-color: darken(saturate($value, 0.46), 15.49);
  }
}

.btn-fb, .btn-fb:active, .btn-fb:not(:disabled):not(.disabled):active {
  background-image: url("../.././images/icons/i_soc_button_facebook.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 20px;
  background-size: 30px;
  padding-left: 75px;
  @include media-breakpoint-down(md) {
    background-size: 15px;
    padding-left: 45px;
  }
}

.btn-more {
  @include button-variant($white, $white);
  padding: 14px 31.5px;
  border: none;
}
