.card {

  &.card--events {
    background-color: $gray-300;
    border: none;
    border-bottom: 3px solid $gray-400;

    .card-body {
      padding: 25px 20px 0 25px;
    }

    .card-footer {
      padding: 20px 25px 40px;
       background-color:transparent;
       border-top: none;
    }
    span {
      font-size: 19px;
      color: $red;
      font-weight: bold;
      letter-spacing: 1px;

      &:before {
        background: url("../.././images/icons/i_calendar.png") left no-repeat;
        content: '';
        width: 16px;
        height: 17px;
        display: inline-block;
        margin-right: 15px;
      }
    }
    h4 {
      font-weight: bold;
      letter-spacing: 2.3px;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    p {
      letter-spacing: 1.6px;
    }
  }
  &.card--news {
    border: none;
    border-bottom: 3px solid $gray-400;
    //margin-bottom: 50px;

    .card-body {
      //height: 295px;
      padding: 5px 25px 50px 25px;
    }

    a {
      color: $gray-900;
      text-decoration: none;
    }
    span {
      font-size: 11px;
      color: $gray-500;
      letter-spacing: 1.4px;
    }
    h4 {
      font-weight: bold;
      margin-top: 19px;
      margin-bottom: 20px;
      letter-spacing: 2.5px;
    }
    p {
      letter-spacing: 1.7px;
    }
  }
  &.card--store {
    border: none;
    background-color: $gray-300;
    margin-bottom: 60px;

    img {
      position: relative;
    }
    .card-wrapper {
      position: relative;
    }
    .card-img-overlay {
      color: $white;
      top: auto;
      bottom: -15px;

      h2 {
        font-style: italic;
        font-family: $font-family-bodoni;
        font-size: 48px;
        padding-left: 35px;
        font-weight: normal;
        letter-spacing: 0.3px;
      }
      h4 {
        font-size: 23px;
        font-weight: bold;
        letter-spacing: 2.5px;
        padding-left: 5px;
      }
    }
    .card-body {
      padding: 25px 25px 15px 25px;
      letter-spacing: 1.5px;
    }
    .card-footer {
      background-color: transparent;
      border-top: none;
      padding: 15px 25px 45px 25px;
    }
  }
}
