.carousel {
  &--cover {
    .carousel-img {
        display: flex;
        min-height: 100%;
        max-height: 100%;
        justify-content: center;
        align-items: center;

      img {
        min-height: auto;
        width: 100%;
      }
    }
    .carousel-caption {
      margin: 65px 50px;
      top: 40%;
      transform: translateY(-50%);
      bottom: auto;

      .display-2 {
        margin-right: auto;
        margin-left: auto;
        border: 4px solid $white;
        text-shadow: rgb(8, 8, 8) 4px 4px 40px;
        line-height: 1.5;
        margin-bottom: 15px;
        max-width: 870px;
      }

      p {
        font-family: $font-family-bodoni;
        font-style: italic;
        font-size: 48px;
        color: $primary;
        background-color: white;
        display: inline-block;
        padding: 0 50px;
      }
    }
    .carousel__control {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      //z-index: 5;

      .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 70px;
        width: 70px;
      }
      .carousel-control-next, .carousel-control-prev {
        margin: 0 15px;
        z-index: 15;
        opacity: 0.8;
        filter: drop-shadow(0 0 3px rgba(43, 43, 43, 0.5));
      }
      .carousel-control-prev {
        justify-content: flex-start;
      }

      .carousel-control-next {
        justify-content: flex-end;

      }
    }

    @include media-breakpoint-down(md) {

      .carousel-caption {
        top: 50%;

        .display-2 {
          font-size: 40px;
        }

        p {
          font-size: 30px;
        }
      }

      &--control {
        .carousel-control-prev-icon, .carousel-control-next-icon {
          height: 35px;
          width: 35px;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .carousel-img {
        min-height: 655px;
        max-height: 655px;

        img {
          min-height: 100%;
        }
      }
      .carousel-caption {
        left: 5%;
        right: 5%;
        margin: 0 0;
        .display-2 {
          font-size: 32px;
          margin-bottom: 30px;
        }

        p {
          padding: 5px 20px;
          margin-bottom: 30px;
        }
        .btn-lg {
          padding: 17px 30px;
        }
      }
    }

    @include media-breakpoint-down(sm) {

      .carousel-caption {
        //display: none;

      }

      .carousel__control {
      display: none;
      }
    }
  }

  &--news {

  }
}
