@import '../../variables';

@include media-breakpoint-up(lg) {
  .form-control {
    font-size: $font-size-lg;
    letter-spacing: 2px;
  }

  .custom-control-label {
    font-size: $font-size-lg;
  }
  .custom-control-label {
    letter-spacing: 1.9px;
    font-size: 18px;
  }
  select.form-control {
    &:not([size]):not([multiple]) {
      height: 42px;
    }
  }
}

@include media-breakpoint-between(xs, md) {
  .form-control-lg {
    padding: $input-padding-y $input-padding-x;
    font-size: $font-size-base;
    line-height: $input-line-height;
    @include border-radius($input-border-radius);
  }

  select.form-control-lg {
    &:not([size]):not([multiple]) {
      height: $input-height;
    }
  }
}


