.navbar {
  padding: 4px 15px;

  .navbar-brand {
    img {
      width: 200px;
    }
  }
  .navbar-nav {
    justify-content: space-between;
    width: 100%;
    max-width: 840px;
    font-size: 14px;
    letter-spacing: 3px;

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      position: relative;
      &::after {
        position: absolute;
        height: 1px;
        margin: 0 auto;
        content: '';
        left: 0;
        right: 0;
        color: #333333;
        background-color: $navbar-light-active-color;
        bottom: 7px;

        @include media-breakpoint-up(lg) {
          left: $navbar-padding-x/2;
          right: $navbar-padding-x/2;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    .navbar-brand {
      img {
        width: 219px;
      }
    }
  }
  @include media-breakpoint-up(lg) {

    .navbar-nav .nav-link {
      //padding-left: 15px;
      //padding-right: 15px;
    }
    .navbar-nav .nav-item:last-child {
      .nav-link {
        padding-right: 0;
      }
    }

  }
}
