@font-face {
  font-family: 'Gill Sans MT';
  src: url('/fonts/33535gillsansmt.eot');
  src: local('3Gill Sans MT'), url('/fonts/33535gillsansmt.woff') format('woff'), url('/fonts/33535gillsansmt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BodoniMT-Italic';
  src: url('/fonts/BodoniMT-Italic.eot?#iefix') format('embedded-opentype'),  url('/fonts/BodoniMT-Italic.woff') format('woff'), url('/fonts/BodoniMT-Italic.ttf')  format('truetype'), url('/fonts/BodoniMT-Italic.svg#BodoniMT-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('/fonts/GillSansMT-Bold.eot?#iefix') format('embedded-opentype'),  url('/fonts/GillSansMT-Bold.woff') format('woff'), url('/fonts/GillSansMT-Bold.ttf')  format('truetype'), url('/fonts/GillSansMT-Bold.svg#GillSansMT-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

$font-family-bodoni : "BodoniMT-Italic";
$font-family-gill : "Gill Sans MT";

body {

}

h1, h2, h3, h4, h5 ,h6 {
  letter-spacing: 0.25rem;
}
