@import "variables";

@mixin flex_center($direction:row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin hidden-sm() {
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

@mixin hidden-xs($display:block) {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

@mixin hidden-xs-sm($display:block) {
  @media (max-width: $screen-sm-max) {
    display: none;
  }
}

@mixin card($padding:15px, $border-radius: 5px, $bg_color: #ffffff) {
  height: 100%;
  border-radius: 5px;
  background-color: $bg_color;
  padding: $padding;
}

@mixin card-hover() {
  transition: box-shadow 100ms ease-in-out;
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
