body {
  margin: 0;
  padding: 0;
  min-width: 100% !important;
}

.content, .footer {
  width: 100%;
  max-width: 720px;
}
.wrapper {
  width: 100%;
  max-width: 800px;
}

.spacer {
  height: 35px;
  margin: 0 auto;
}
.spacer25 {
  height: 25px;
  margin: 0 auto;
}
.spacer20 {
  height: 20px;
  margin: 0 auto;
}

.spacer15 {
  height: 15px;
  margin: 0 auto;
}
.spacer10 {
  height: 10px;
  margin: 0 auto;
}

.spacer30 {
  height: 30px;
  margin: 0 auto;
}

.spacer40 {
  height: 40px;
  margin: 0 auto;
}
.spacer45 {
  height: 45px;
  margin: 0 auto;
}
.spacer55 {
  height: 55px;
  margin: 0 auto;
}
.spacer80 {
  height: 80px;
  margin: 0 auto;
}
.spacer90 {
  height: 90px;
  margin: 0 auto;
}
.spacer95 {
  height: 95px;
  margin: 0 auto;
}

.padding25 {
  padding-left: 25px;
  padding-right: 25px;
}
.padding15 {
  padding-left: 15px;
  padding-right: 15px;
}
.padding10 {
  padding-left: 10px;
}
.padding2510 {
  padding-left: 25px;
  padding-right: 10px;
}

.font40 {
  font-family: Lato, Arial, 'Times New Roman', serif, sans-serif;
  font-size: 30px;
  line-height: 50px;
}

.font22 {
  font-family: Lato, Arial, 'Times New Roman', serif, sans-serif;
  font-size: 22px;
  line-height: 26px;
}

.font19 {
  font-family: Lato, Arial, 'Times New Roman', serif, sans-serif;
  font-size: 19px;
  line-height: 21px;
}

.font16 {
  font-family: Lato, Arial, 'Times New Roman', serif, sans-serif;
  font-size: 16px;
  line-height: 25px;
}
.font12 {
  font-family: Lato, Arial, 'Times New Roman', serif, sans-serif;
  font-size: 12px;
  line-height: 15px;
}
.color-grey {
  color: #444446;
}

.color-red {
  color: #E54633;
}

.color-black {
  color: #1F1F1F;
}

.spacing4 {
  letter-spacing: 4px;
}

.spacing3 {
  letter-spacing: 3px;
}

.spacing2 {
  letter-spacing: 2px;
}

.spacing1 {
  letter-spacing: 1px;
}

.back-grey {
  background-color: #F3F3F3;
}
.back-grey-border {
  background-color: #F3F3F3;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 3px solid #E2E2E2;
  border-right: 0px solid transparent;
}

.logo {
  text-align: center;
}

.title {
  text-align: center;
}

.title span {
  text-align: center;

}

.margin0 {
  Margin: 0;
}

.fb-button {

}
.bodycopy em {
  font-style: normal;
  color: #E54633;
}
a {
  text-decoration: none;
}
.fb-button img {
  /*padding-left: 20px;*/
  outline: none;
  text-decoration: none;
  clear: both;
  display: block !important;
  border: 0;
  height: auto;
  float: none;
  width: 100%;
  max-width: 353px
}

.col360 {
  max-width: 360px;
  width: 100%;
}

.news {
  max-width: 340px;
!important;
  background-color: #F3F3F3;
  height: 575px;
  width: 100% !important;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 3px solid #E2E2E2;
  border-right: 0px solid transparent;
}
.news td {
  padding: 0;
}
.news-desc {
  color: #1F1F1F;
  font-family: 'Lato', Arial, 'Times New Roman', serif, sans-serif;
  line-height: 180%;
  padding-right: 20px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.news h3 {
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 22px;
  line-height: 26px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.news-date {
  margin: 0;
  font-size: 11px;
  line-height: 17px;
  text-align: left;
  color: #999999;
}
.news-text td {
  display: table-footer-group;
}
.footer {
  background-color: #222222;
  color: #ffffff;
}

.footer tr, .footer td, footer table {
  background-color: #222222;
  color: #ffffff;
}

.footer p {
  color: #ffffff;
}

.footer h3 {
  color: #ffffff;
}

.soc {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  clear: both;
  display: inline-block;
  border: 0;
  height: auto;
  float: none;
  width: 100%;
  max-width: 42px;
  padding-right: 20px;
}

.footer-right p > i {
  font-size: 30px;
  line-height: 33px;
}
