<div class="brand-item @@class">
  <div class="row no-gutters">
    <div class="col-12 col-md-6 brand-item__img">
      <figure class="figure">
        <img class="figure-img img-fluid" src="./images/@@img1" alt="@@title">
      </figure>
      <figure class="figure">
        <img class="figure-img img-fluid" src="./images/@@img2" alt="@@title">
      </figure>
    </div>
    <div class="col-12 col-md-6 brand-item__text">
      <div>
      <h4><b>@@title</b></h4>
      <p>@@desc
      </p>
      <p><b>DAMES - HEREN - CASUAL</b></p>
      </div>
    </div>
  </div>
</div>
