<div class="row justify-content-center @@class">
  <div class="col-11">
    <div class="slider slider-brands">
      <div>
        <img src="/images/img_carousel1.png" alt="Gerry Weber">
        <img src="/images/img_carousel6.png" alt="Braend">
      </div>
      <div>
        <img src="/images/img_carousel2.png" alt="Esprit">
        <img src="/images/img_carousel7.png" alt="vanguard">
      </div>
      <div>
        <img src="/images/img_carousel3.png" alt="scotch soda">
        <img src="/images/img_carousel8.png" alt="boss orange">
      </div>
      <div>
        <img src="/images/img_carousel4.png" alt="expresso">
        <img src="/images/img_carousel9.png" alt="Bugatti">
      </div>
      <div>
        <img src="/images/img_carousel5.png" alt="nikkie">
        <img src="/images/img_carousel10.png" alt="LTB">
      </div>
    </div>
  </div>
</div>
