<div class="card card--store">
  <div class="card-wrapper">
    <img class="card-img-top" src="@@img" alt="Nieuws">
    <div class="card-img-overlay">
      <h4>LATENZO</h4>
      <h2>basement</h2>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">@@desc</p>
  </div>
  <div class="card-footer">
    <a class="btn btn-more" href="/store-item.html">MEER</a>
  </div>
</div>
