<footer class="footer @@class">
  <div class="container">
    <div class="row">
      <div class="footer__address col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <h4>ADRES & CONTACT</h4>
        <p>Kreitenmolenstraat 80 <br>
          Udenhout (NB)<br>
          013-511609<br>
          <a href="mailto:info@latenzo.nl">info@latenzo.nl</a><br>
          <a href="#">contact & route »</a>
        </p>
        <h4>OVER LATENZO</h4>
        <p>Een totaalconcept aan
          topmerken in dames- en
          herenmode, accessoires en
          schoenen</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <h4>OPENINGSTIJDEN</h4>
        <div class="footer__mode">
          <p>Maandag<br>
          Dinsdag<br>
          Woensdag<br>
          Donderdag<br>
          Vrijdag<br>
          Zaterdag<br>
          Zondag</p>
          <p>12:30 - 18:00u<br>
            10:00 - 18:00u<br>
            10:00 - 18:00u<br>
            10:00 - 18:00u<br>
            10:00 - 20:00u<br>
            10:00 - 17:00u<br>
            12:00 - 17:00u</p>
        </div>
        <i>Elke zondag open!</i>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <h4>ONZE MERKEN</h4>
        <ul>
          <li><a href="#">Aaiko</a></li>
          <li><a href="#">Esprit Casual</a></li>
          <li><a href="#">Expresso</a></li>
          <li><a href="#">Ledub</a></li>
          <li><a href="#">Gary Weber</a></li>
          <li><a href="#">Gustav</a></li>
          <li><a href="#">Penn & Ink</a></li>
          <li><a href="#">PME Legend</a></li>
          <li><a href="#">Scotch & Soda</a></li>
          <li><a href="#">Superdry</a></li>
          <li><a href="#">Bekijk al onze merken »</a></li>
        </ul>
      </div>
      <section class="footer__social col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <h3>Volg ons!</h3>
        <ul>
          <li><a href="#" target="_blank"><img src="../images/icons/i_soc_footer_facebook.png" alt="Facebook"></a></li>
          <li><a href="#" target="_blank"><img src="../images/icons/i_soc_footer_instagram.png" alt="Linkedin"></a></li>
          <li><a href="#" target="_blank"><img src="../images/icons/i_soc_footer_twitter.png" alt="Twitter"></a></li>
        </ul>
        <img src="../images/icons/i_footer.png" alt="SamenLoop">
      </section>
    </div>
  </div>
</footer>
