<header class="header @@class">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">

      <a class="navbar-brand" href="/">
        <img src="/images/icons/i_logo_header.png" alt="Latenzo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/store.html">WINKEL <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/shop.html">SHOP THE LOOK</a></li>
          <li class="nav-item"><a class="nav-link" href="/merken.html">MERKEN</a></li>
          <li class="nav-item"><a class="nav-link" href="/news.html">NIEUWS</a></li>
          <li class="nav-item"><a class="nav-link" href="/events.html">EVENTS</a></li>
          <li class="nav-item"><a class="nav-link" href="/over-ons.html">OVER LATENZO</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact.html#">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
