<div class="newsletter @@class">
  <div class="container">
    <div class="newsletter-header text-center">
      @@include('./app/blocks/divider.html',{"class":"divider--sm", "title":"NIEUWSBRIEF" , "desc":"Schrijf je in voor de nieuwsbrief en ontvang <i>10,- korting</i> in onze winkels!"})
    </div>
    <form action="#">
      <div class="input-group">
        <input type="email" class="form-control form-control-lg" placeholder="Jouw e-mailadres">
        <div class="input-group-append">
          <button type="submit" class="btn btn-lg btn-primary">INSCHRIJVEN</button>
        </div>
      </div>
    </form>
  </div>
  <div class="container text-center newsletter__done">
    <div class="newsletter-header text-center">
      @@include('./app/blocks/divider.html',{"class":"divider--sm", "title":"SUCCESVOL INGESCHREVEN" , "desc":"Je bent nu succesvol ingeschreven voor de nieuwsbrief. Er is een bevestigingsmail gestuurd naar je e-mailadres met daarin een bon voor 10,- shoptegoed."})
    </div>
    <a href="#" class="newsletter__close">MELDING SLUITEN</a>
  </div>
</div>
