<section class="operation">
  <div class="row">
    <div class="operation__address col-xs-12 col-md-5 col-lg-5 offset-lg-1">
      <img src="images/icons/i_location.png" alt="location">
      <div>
      <address>
        <strong>ADRESGEGEVENS</strong><br>
        Kreitenmolenstraat 80<br>
        Udenhout (NB)<br>
        013-511609<br>
      </address>
      <a href="mailto:#">info@latenzo.nl</a>
      <a href="#">contact & route »</a>
      </div>
    </div>
    <div class="operation__time col-xs-12 col-md-7 col-lg-6">
      <img src="images/icons/i_clock.png" alt="working time">
      <p><strong>OPENINGSTIJDEN</strong><br>
        Maandag<br>
        Dinsdag<br>
        Woensdag<br>
        Donderdag<br>
        Vrijdag<br>
        Zaterdag<br>
        Zondag</p>
      <p>12:30 - 18:00uur<br>
        10:00 - 18:00uur<br>
        10:00 - 18:00uur<br>
        10:00 - 18:00uur<br>
        10:00 - 20:00uur<br>
        10:00 - 17:00uur<br>
        12:00 - 17:00uur</p>
    </div>
  </div>
</section>
