<section class="service @@class">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
        <img src="images/icons/i_hanger.png" alt="Merken">
        <p>MEER DAN 150 MERKEN</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
        <img src="images/icons/i_coffee.png" alt="Koffie">
        <p>GRATIS KOFFIE<br> MET GEBAK</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
        <img src="images/icons/i_lunch.png" alt="Lunch">
        <p>GRATIS LUNCH VOOR SHOPPERS</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
        <img src="images/icons/i_parking.png" alt="Parkeren">
        <p>GRATIS PARKEREN VOOR DE DEUR</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
        <img src="images/icons/i_needle.png" alt="Atelier">
        <p>EIGEN VERMAAK- ATELIER</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
        <img src="images/icons/i_Sunday.png" alt="Zondag">
        <p>ELKE ZONDAG OPEN</p>
      </div>
    </div>
  </div>
</section>
