<div class="slider slider-news">
  <div class="card card--news" >
    <a href="/news-item.html">
      <img class="card-img-top" src="images/img_news.png" alt="Nieuws">
      <div class="card-body">
        <span class="card-title">18 AUGUSTUS 2017</span>
        <h4>DENIM ALL THE WAY</h4>
        <p class="card-text">Als er een materiaal wel everlasting is, dan is het denim wel. Helemaal niet gek
          dus, dat we het stugge stofje het afgelopen modeseizoen veelvuldig voorbij zagen komen.</p>
      </div>
    </a>
  </div>
  <div class="card card--news" >
    <a href="/news-item.html">
      <img class="card-img-top" src="images/img_news1.png" alt="Nieuws">
      <div class="card-body">
        <span class="card-title">15 AUGUSTUS 2017</span>
        <h4>DÉ 5 WINTERBASICS DIE JIJ IN JE GARDEROBE MOET HEBBEN</h4>
        <p class="card-text">De 5 piece French wardrobe, je hebt er vast wel eens iets over gehoord. Een minimale
          kledingkast met maximaal effect.</p>
      </div>
    </a>
  </div>
  <div class="card card--news" >
    <a href="/news-item.html">
      <img class="card-img-top" src="images/img_news2.png" alt="Nieuws">
      <div class="card-body">
        <span class="card-title">11 AUGUSTUS 2017</span>
        <h4>NOVEMBER: WINTERMODE OM WARM VAN TE WORDEN</h4>
        <p class="card-text">Nou dat was ‘m alweer, oktober. Voordat we het wisten was het alweer november en
          dat betekent: winter is coming.</p>
      </div>
    </a>
  </div>
  <div class="card card--news" >
    <a href="/news-item.html">
      <img class="card-img-top" src="images/img_news3.png" alt="Nieuws">
      <div class="card-body">
        <span class="card-title">18 AUGUSTUS 2017</span>
        <h4>DO THE POLKA</h4>
        <p class="card-text">Wat een dotje, deze print. Al járen ben ik tot over mijn oren verliefd op dit
          magische patroontje, de polkadot. Bijna gehypnotiseerd door het zwart-wit, maakte mijn modehart dan
          ook een sprongetje.</p>
      </div>
    </a>
  </div>
  <div class="card card--news" >
    <a href="/news-item.html">
      <img class="card-img-top" src="images/img_news4.png" alt="Nieuws">
      <div class="card-body">
        <span class="card-title">15 AUGUSTUS 2017</span>
        <h4>MONOCHROOM: WAUW WAT GAAF!</h4>
        <p class="card-text">Even een moment van rust in het hectische modecircus. Weg print, hallo serene
          outfits! Très chic, zo’n outfit helemaal in één kleur.</p>
      </div>
    </a>
  </div>
  <div class="card card--news" >
    <a href="/news-item.html">
      <img class="card-img-top" src="images/img_news5.png" alt="Nieuws">
      <div class="card-body">
        <span class="card-title">11 AUGUSTUS 2017</span>
        <h4>VELVET ALL THE WAY</h4>
        <p class="card-text">Fluweeltjes zijn juweeltjes aankomende winter. Want dit superzachte, lieflijke
          stofje hebben wij veelvuldig voorbij zien komen in het straatbeeld.</p>
      </div>
    </a>
  </div>
  <div class="card card--news" >
    <a href="/news-item.html">
      <img class="card-img-top" src="images/img_news6.png" alt="Nieuws">
      <div class="card-body">
        <span class="card-title">18 AUGUSTUS 2017</span>
        <h4>WE LOVE SWEATERS!</h4>
        <p class="card-text">We zijn er dol op! Het begint weer tijd te worden voor een... sweater. Een sweater
          is ideaal om in de kast te hebben. We hebben de leukste en fijnste sweaters voor je uitgekozen.</p>
      </div>
    </a>
  </div>
  <div class="card card--news" >
    <a href="/news-item.html">
      <img class="card-img-top" src="images/img_news7.png" alt="Nieuws">
      <div class="card-body">
        <span class="card-title">15 AUGUSTUS 2017</span>
        <h4>SHORTS, SHORTS, SHORTS</h4>
        <p class="card-text">Mannen opgelet! We hebben de leukste zomershorts voor je op een rijtje gezet. Ga je
          voor een stoere uitstraling, gave print of juist voor een frisse look met felle kleuren?</p>
      </div>
    </a>
  </div>
  <div class="card card--news" >
    <a href="/news-item.html">
      <img class="card-img-top" src="images/img_news8.png" alt="Nieuws">
      <div class="card-body">
        <span class="card-title">11 AUGUSTUS 2017</span>
        <h4>ZOMERJURKJES</h4>
        <p class="card-text">De zon schijnt, alles groeit en bloeit om ons heen en met de hoge temperaturen is
          het tijd voor zomerjurkjes.</p>
      </div>
    </a>
  </div>
</div>
